/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121212;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.primary {
  background-color: #970eff;
  color: white;
}

button.secondary {
  background-color: #444;
  color: white;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
